name: Release Helm Charts
concurrency: release-helm

on:
  push:
    branches:
      - main
    paths:
      - "charts/**"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          charts_dir: charts
          charts_url: https://mageia.github.io/helm-charts
          owner: Mageia
          commit_username: Mageia
          commit_email: yzg963@gmail.com
